progress {
    width: 300px;
    background: white;
    background-color: white;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
progress::-moz-progress-bar {
    background: white;
}

progress::-webkit-progress-value {
    background: blue; 
}

progress {
    color: white;
}
