:root{
	--panel-base-text-color: rgb(255, 255, 255);
	--green-panel-color: rgb(92, 184, 92);
	--red-panel-color: rgb(190, 31, 42);
	--blue-panel-color: rgb(51, 122, 183);
	--yellow-panel-color: rgb(237, 156, 44);
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#draggablePanelList .panel-heading {
        cursor: move;
}
	
.panel-green {
    border-color: var(--green-panel-color);
	color: var(--panel-base-text-color);
	background-color: var(--green-panel-color);
}

.panel-green > a {
    color: var(--green-panel-color);
}

.panel-red {
    border-color: var(--red-panel-color);
	color: var(--panel-base-text-color);
	background-color: var(--red-panel-color);
}

.panel-red > a {
    color: var(--red-panel-color);
}

.panel-blue {
    border-color: var(--blue-panel-color);
	color: var(--panel-base-text-color);
	background-color: var(--blue-panel-color);
}

.panel-blue > a {
    color: var(--blue-panel-color);
}

.panel-yellow {
    border-color: var(--yellow-panel-color);
	color: var(--panel-base-text-color);
	background-color: var(--yellow-panel-color);
}

.panel-yellow > a {
    color: var(--yellow-panel-color);
}